/* LOGIN WEBPAGE STUFFS */

.login_title {
    text-align: center;
    
}
.login_title h1 {
    margin-block-start: 10px;
    margin-block-end: 10px;
}
.login_title h3 {
    margin-block-start: 0px;
    margin-block-end: 15px;
    font-weight: 300;
    line-height: 25px;
    
}
.login-name {
    padding-block: -10px;
}
.login_input-password { 
    margin-bottom: 25px;
}