
button {
    height: 50px;
    width: 100%;
    color: white;
    border-radius: 10px;
    background-color: #005236;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
button:hover {
    background-color: #006b47; /* lighter green */
}