@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-color: #D1FAE5;
    color: black;

}

h1 {
    color: #006C49;
}

.login_title {
    text-align: center;
    
}
.login_title h1, 
.login_title h3 {
    line-height: 10px;
}
.login_title h3 {
    font-weight: 300;
    
}